{
	"root": true,
	"env": { "node": true, "es2022": true },
	"parser": "@typescript-eslint/parser",
	"parserOptions": { "ecmaVersion": 2022, "sourceType": "module", "project": "./tsconfig.json" },
	"plugins": [ "@typescript-eslint" ],
	"extends": [ "eslint:recommended", "plugin:@typescript-eslint/recommended" ],
	"rules": {
		"indent": [ "error", "tab", { "SwitchCase": 1 } ],
		"quotes": [ "error", "single", { "avoidEscape": true } ],
		"semi": [ "error", "always" ],
		"comma-dangle": [ "error", "never" ],
		"eol-last": "error",
		"no-trailing-spaces": "error",
		"no-console": "error",
		"@typescript-eslint/explicit-function-return-type": [ "error", { "allowExpressions": true } ],
		"@typescript-eslint/no-unused-vars": [ "error", { "argsIgnorePattern": "^_" } ]
	},
	"overrides": [
		{
			"files": [ "src/test/**/*.ts" ],
			"rules": { "@typescript-eslint/no-explicit-any": "off" }
		}
	]
}
